<div class="wrapper">

	<%= render partial: '/shared/sidebar', locals: { user: @user } %>

	<div class="content">

		<%= render partial: '/shared/toggle_sidebar', locals: { user: @user } %>

		<h3>There will be a side bar to select all available info (trips, stops, etc.)</h3>
		<h3>Also will be a "Summary Box" which will show various information/stats for the user's trips, stops, flights, etc.</h3>
		<h3>This will have a lot of javascript</h3>
	</div>

</div>