<nav class="navbar navbar-light bg-light">

  <a class="navbar-brand" href="<%= user_path(@user) %>">
    <img src="/assets/brand.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
    Home
  </a>

  <span class="navbar-text text-primary">
  	<strong>Get Outta Town!</strong>
  </span>

  <div class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Profile
    </a>
	    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <%= link_to "User Profile", edit_user_path(user), class: "dropdown-item" %>
        <%= link_to "Log Out", logout_path, class: "dropdown-item" %>
	    </div>
  </div>

</nav>